
/* GENERAL STYLE OF THE DOCUMENT */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato',sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(110deg, #10E174 60%, #001632 60%);
}

.container{
    height: 80vh;
    width: 80%;
    min-width: 900px;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;

}
/* SIDEBAR OF THE CHATS AND USER BAR */

.container .sidebar{
    width: 40%;
    background-color: white;
    height: 100%;
}
.sidebar .account{
    background-color: #ece5dd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}
.account .user{
    display: flex;
    align-items: center;
}
.account .user-btn{
    display: flex;
    justify-content: space-around;
    flex-basis: 50%;
    font-size: 20px;
    padding: 1rem;
    gap: .8rem;
}

.sidebar .account img{
    width: 20%;
    border-radius: 50%;
}
.sidebar .notification{
    background-color:#9DE1FE ;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}
.sidebar .notification i{
    font-size: 30px;
}
.sidebar .chat-search .chat-src{
    width: 100%;
    min-height: 30px;
    border: .5px solid rgb(164, 146, 146);
}
::placeholder{
    text-align: center;
}
.chat-sidebar{
    height: 80%;
}
.list-chat{
    list-style-type: none;
    flex-wrap: nowrap;
    overflow-y: auto;
    height:90%;
}
.singlechat{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 0.2px solid rgb(220, 204, 204);
    
}
.singlechat .status{
    font-size: smaller;
}
.singlechat:hover{
    background-color: #ece5dd;
}
.list-chat img{
    width: 20%;
    border-radius: 50%;
}
.body-chat li{
    list-style-type: none;
}
.singlechat.hidden{
    display: none;
}

/* LIVE CHAT RIGHT + CHAT INPUT + CHAT NAV*/

.chatlive{
    width: 60%; 
    height: 100%;
    background-image: url(../img/mine.jpg);
}
.chatlive .user-live{
    background-color:#ece5dd;
    display: flex;
    justify-content: space-between;

}
.chatlive .user-live{
    background-color: #ece5dd;
    display: flex;
    align-items: center;
    padding: .3rem;
    justify-content: space-between;
    
}
.chatlive .user-live img{
    border-radius: 50%;
    width: 15%;
}
.user-btn-live{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    width: 35%;
    padding: .6rem;
    font-size: larger;
    margin-left: auto;
   
}
.chatlive .chatbody{
    height: 80%;
    overflow-y: scroll;
}

.chatbody .current-chat li{
    list-style-type: none;
    border: 1px inset rgb(189, 177, 177);
    border-radius: 10%;
    margin: .2rem;
    min-width: 15%;
    max-width: 20%;
    padding: 1rem;
    font-weight: bolder;
    overflow-wrap: break-word;
    position: relative;
}
.date{
    font-size: smaller;
    color: rgb(22, 12, 12);
    opacity: 0.5;
}
.current-chat #icon-dropdown{
    color: rgb(155, 137, 137);
    opacity: 0.9;
}
.current-chat #icon-dropdown2{
    display: none;
    color: rgb(155, 137, 137);
    opacity: 0.9;
}
.current-chat #icon-dropdown2.active{
   display: block;
}
.current-chat .dropdown-menu{
    display: none;
    background-color: white;
    position: absolute;
    right: 0;
    top: calc(100% - 5px);
    z-index: 2;
    padding: 1rem;
    font-size: 15px;
    box-shadow:  0 0 5px grey;
    margin-top: .3rem;
}
.current-chat .dropdown-menu:hover{
    cursor: pointer;
}
.current-chat .dropdown-menu.active{
    display: block;
}

.chatbody .current-chat .sent{
    background-color: #10E174;
    margin-left: auto;
}
.chatbody .current-chat .received{
    background-color: #0088CC;
    
}
.chatlive .input-chat{
    width: 100%;
    height: 10%;
    padding: 1rem;
    background-color:#ece5dd;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.chatlive .input-chat input{
    width: 80%;
    height: 80%;
    border-radius: 5%;
}
.active{
    display: block;
}
.hidden{
    display: none;
}

