<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <!-- FONTAWESOME, FONT E STILI ESTERNI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
    <!-- MY STILE CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- MY JAVASCRIPT -->
    <script src="js/script.js" defer></script>
    <!-- VUE SCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="root" class="container">
        <div class="sidebar">
            <div class="account">
                <div class="user">
                <img src="img/avatar_1.jpg">
                <h4>Dario Costantini</h4>
                </div>
                <div class="user-btn">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div> 
            </div>
            <div class="notification">
                <i class="fas fa-bell-slash"></i>
                <div>
                    <h4>Ricevi le notifiche dei nuovi messaggi</h4>
                    <a href="#!"> Abilita le notifiche desktop</a>
                </div>
            </div>
            <div class="chat-search">
                <input type="text" v-model="searchInput" @keyup="searchChat" placeholder=" &#128269 Cerca o inizia una nuova chat"class="chat-src">
            </div>
            <div class="chat-sidebar">
                <ul class="list-chat">
                    <li v-for= "(contact,index) in contacts" class="singlechat" :class="contact.visible == false  ?  'hidden': '' " @click="chatSelect(index)">
                    <img :src= "'img/' + contact.avatar" alt="Michele">
                    <h3>{{contact.name}}</h3>
                    <ul  class="body-chat">
                      <li>
                        {{contact.messages[contact.messages.length - 1].message}}
                        <div class="status">{{contact.messages[contact.messages.length - 1].status}}</div>
                      </li>
                    </ul>       
                    </li>
                </ul>
            </div>
        </div>
        <div class="chatlive">
            <div class="user-live">
                <img :src="'img/' + contacts[index].avatar">
                <h4>{{contacts[index].name}}</h4>
                <div class="status"></div>
            </div>
            <div class="chatbody">
                <ul class="current-chat" >
                    <li v-for="(msg,index) in contacts.messages">
                        {{contacts.messages.msg[index].message}}
                    </li>
                    <li>
                      
                    </li>
                    <li>
                        
                    </li>
                </ul>
            </div>
            <div class="input-chat">
                
            </div>
        </div>

    </div>
    
</body>
</html>