<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <!-- FONTAWESOME, FONT E STILI ESTERNI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap" rel="stylesheet">
    <!-- MY STILE CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- MY JAVASCRIPT -->
    <script src="js/script.js" defer></script>
    <!-- LUXON SCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.1.0/build/global/luxon.min.js"defer></script>
    <!-- VUE SCRIPT -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
</head>
<body>
    <div id="root" class="container">
        <div class="sidebar">
            <div class="account">
                <div class="user">
                <img src="img/avatar_1.jpg">
                <h4>Dario Costantini</h4>
                </div>
                <div class="user-btn">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div> 
            </div>
            <div class="notification">
                <i class="fas fa-bell-slash"></i>
                <div>
                    <h4>Ricevi le notifiche dei nuovi messaggi</h4>
                    <a href="#!"> Abilita le notifiche desktop</a>
                </div>
            </div>
            <div class="chat-search">
                <input type="text" v-model="searchInput" @keyup="searchChat" placeholder=" &#128269 Cerca o inizia una nuova chat"class="chat-src">
            </div>
            <div class="chat-sidebar">
                <ul class="list-chat">
                    <li v-for= "(contact,index) in contacts" class="singlechat" :class="contact.visible == false  ?  'hidden': '' " @click="chatSelect(index)">
                    <img :src= "'img/' + contact.avatar" alt="Michele">
                    <h3>{{contact.name}}</h3>
                    <ul  class="body-chat">
                      <li>
                        {{contact.messages[contact.messages.length - 1].message}}
                        <div class="date">{{contact.messages[contact.messages.length - 1].date}}</div>
                      </li>
                    </ul>       
                    </li>
                </ul>
            </div>
        </div>
        <div class="chatlive">
            <div class="user-live">
                <div class="user-info">
                    <img :src="'img/' + contacts[index].avatar" alt="contacts.[index].name">
                    <h4>{{contacts[index].name}}</h4>
                </div>
                <div class="user-btn-live">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
                <div class="status"></div>
            </div>
            <div class="chatbody">
                <ul class="current-chat" >
                    <li v-for="(msg,indexmsg) in contacts[index].messages"  :class= " msg.delete ? 'hidden' : ''">
                        {{msg.message}}
                        {{msg.dropdown}}
                        <span class="date">{{msg.date}}</span>
                        <div>
                            <i id="icon-dropdown"    :class = "msg.dropdown  ? 'hidden' : ''" @click="openDropdown(indexmsg)" class="fa-solid fa-chevron-down"></i>
                            <i id="icon-dropdown2"  :class = "msg.dropdown  ? 'active' : 'hidden'" @click="closeDropdown(indexmsg)" class="fa-solid fa-chevron-up"></i>
                        </div>
                        <div class="dropdown-menu"  :class = "msg.dropdown  ? 'active' : ''">
                            <span class="infomessage"> Info messaggio</span>
                            <span class="delete message" @click="deleteMsg(indexmsg)" >Cancella messaggio</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="input-chat">
            <i class="far fa-smile"></i>
                <input 
                class="inputmessage"
                type="text"
                placeholder="Scrivi qui"
                v-model="newMsg"
                @keyup.enter="addMsg(index)"
                >
                <i :class="newMsg !== '' ? 'fa-solid fa-paper-plane' : 'fas fa-microphone'"></i>
            </div>
        </div>

    </div>
    
</body>
</html>